@using IdentityService.API.Areas.Identity.Pages.Account.Manage
@using IdentityService.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserManagementNavClass(ViewContext)" id="user-management" asp-page="/Admin/UserManagement">User Management</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.RoleManagementNavClass(ViewContext)" id="role-management" asp-page="/Admin/RoleManagement">Role Management</a></li>
</ul>
